<a href="https://colab.research.google.com/github/iljumun/jupyter/blob/master/co.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python --version

Python 3.6.9

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
!ls '/content/drive/'

'My Drive'

In [4]:
import pandas as pd
df = pd.read_csv('../content/drive/My Drive/project/data/서울특별시 공공자전거 이용정보(월별)_2017_1_12.csv', encoding='cp949')
df

              대여일자 대여소번호                       대여소  ...   탄소량 이동거리(M) 이동시간(분)
0       2017-01-01   503               더샵스타시티 C동 앞  ...  3.51   15130     105
1       2017-01-01   509               이마트 버스정류소 옆  ...  2.33   10080      58
2       2017-01-01   300                     정동사거리  ...  2.68   11580     108
3       2017-01-01   301               경복궁역 7번출구 앞  ...  1.26    5440      80
4       2017-01-01   304               광화문역 2번출구 앞  ...  0.30    1290      11
...            ...   ...                       ...  ...   ...     ...     ...
217455  2017-12-01  2002                  노들역 1번출구  ...  1.72    7420      53
217456  2017-12-01  2003                    사육신공원앞  ...  1.63    7040      48
217457  2017-12-01  1303                   돈암초교 입구  ...  2.00    8650      89
217458  2017-12-01  2219   고속터미널역 8-1번, 8-2번 출구 사이  ...  4.15   17870     102
217459  2017-12-01   576                광나루역 3번 출구  ...  4.46   19230     162

[217460 rows x 11 columns]

In [4]:
!git clone https://github.com/JejuDaconProject/DATA.git

Cloning into 'DATA'...
fatal: could not read Username for 'https://github.com': No such device or address

In [3]:
ls -ltr

total 8
drwxr-xr-x 1 root root 4096 Jun 17 16:18 sample_data/
drwx------ 4 root root 4096 Jun 26 00:09 drive/