In [ ]:
#사칙연산

In [7]:
daum = 89000
naver= 571000;
s = daum * 100 + naver * 20
s

20320000

In [ ]:
#사칙연산

In [8]:
s = daum * 0.05 * 89000 + naver * 0.1 * 571000;
s

33000150000.0

In [ ]:
#사칙연산

In [9]:
f = 50
C = (f - 32)/1.8
C

10.0

In [ ]:
# 문자열 곱셈

In [11]:
print("pizza\n" * 10)

pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza

In [ ]:
#객체 곱셈

In [13]:
one = 100000;
one_end = one * 0.7
two = one_end
two_end = two * 0.7
three = two_end
three_end = three * 0.7
three_end

34300.0

In [ ]:
# 인덱싱

In [31]:
s = "Daum KaKao"
s = s[5:] + ' ' + s[:4]
s

'KaKao Daum'

In [35]:
a = "hello world"
a = "hi" + a[5:]
a

'hi world'

In [47]:
x = "abcdef"
x = x[1:] + x[0]
x

'bcdefa'

In [55]:
x = "가나다라마바"
x[1:] + x[0]
x[2:] + x[:2]

'다라마바가나'

In [63]:
t1 = "   hp010-0000-0000"
t2 = t1.strip() # strip()은 공백 삭제
t2

t3 = t2.replace('hp', '')  # replace(a,b) 는 a 를 b로 교체
t3

t4 = t3.split('-') # split()은 괄호안의 조건을 기준으로 문자열을 쪼갬
t4

['010', '0000', '0000']

In [ ]:
#리스트

In [72]:
interest = ["삼성전자", "네이버", "LG전자"]
print(interest)

['삼성전자', '네이버', 'LG전자']

In [66]:
print(interest[0])
print(interest[1])
print(interest[2])

삼성전자
네이버
LG전자

In [71]:
buy_list = ['Naver', 5000]   # 파이썬에서 리스트는 String, int 섞어서 가능하다.
print(buy_list[0])
print(buy_list[1])

Naver
5000

In [113]:
kospi_top10 = ['삼성전자', 'SK하이닉스', '현대차', '한국전력', '아모레퍼시픽', '제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스']
print(kospi_top10)

['삼성전자', 'SK하이닉스', '현대차', '한국전력', '아모레퍼시픽', '제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스']

In [ ]:
# 리스트 인덱싱은 인덱스 잘 볼것. 아직 헷갈림 집가서 다시.

In [114]:
kospi_top5 = kospi_top10[:5]
kospi_top5

['삼성전자', 'SK하이닉스', '현대차', '한국전력', '아모레퍼시픽']

In [115]:
kospi_top10_end = kospi_top10[5:10]
kospi_top10_end

['제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스']

In [ ]:
# 리스트에 데이터 삽입 append() , append()는 맨뒤 인덱스에 추가

In [107]:
kospi_top10.append("SK텔레콤")
print(kospi_top10)

['삼성전자', 'SK하이닉스', '현대차', '한국전력', '아모레퍼시픽', '제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스', 'SK텔레콤']

In [ ]:
# 코스피 top10 에서 SK텔레콤 추가후 코스피top11 로 객체 이름 변경

In [116]:
kospi_top11 = kospi_top10
print(kospi_top11)

['삼성전자', 'SK하이닉스', '현대차', '한국전력', '아모레퍼시픽', '제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스']

In [ ]:
# insert 메소드 : insert(3, 'SK텔레콤') -> sk텔레콤을 3번 인덱스에 삽입, insert는 자기가 원하는 인덱스에 삽입

In [117]:
kospi_top11.insert(3, 'SK텔레콤')
print(kospi_top11)

['삼성전자', 'SK하이닉스', '현대차', 'SK텔레콤', '한국전력', '아모레퍼시픽', '제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스']

In [ ]:
# 리스트 데이터 삭제 메소드

In [ ]:
# 데이터 갯수를 확인할때 len(객체)

In [ ]:
# del 객체명[인덱스 번호] : 데이터 삭제

In [118]:
del kospi_top10[3]

In [123]:
print(kospi_top10)
print(len(kospi_top10))

['삼성전자', 'SK하이닉스', '현대차', '한국전력', '아모레퍼시픽', '제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스']
10

In [ ]:
# 튜플 
# 1) 리스트는 []를 쓰지만 튜플은 ()을 쓴다.
# 2) 리스트는 리스트 내의 원소를 변경할 수 있지만 튜플은 변경할 수 없다.
# 3) 튜플은 속도가 더 빠름, 리스트가 튜플의 모든 기능을 담고있다. 
# 4) 한번 저장해둔 후 변경할 필요가 없다면 튜플을 쓰는게 훨씬 나음.

In [124]:
t = ('Samsung', 'LG', 'SK')
t

('Samsung', 'LG', 'SK')

In [131]:
print(t[0])
print(t[1])
print(t[2])
print(len(t))

Samsung
LG
SK
3

In [133]:
t.appent("HP") 
t.insert(3, "HP")
# 튜플은 튜플내 원소값을 변경 할 수 없다. (append(), insert() 불가)

AttributeError: 'tuple' object has no attribute 'appent'

In [138]:
t[0:2]

('SK',)

In [ ]:
#딕셔너리 : 키(key)와 값(value)이라는 것을 쌍으로 저장함으로써 더 쉽게 저장된 값을 찾을 수 있는 구조
#딕셔너리는 {}을 사용.

In [169]:
cur_price = {}  # 아무것도 들어있지 않은 딕셔너리 생성

In [170]:
type(cur_price) # 딕셔너리 타입은 dict

dict

In [ ]:
# cur_price['daeshin'] = 3000  -> cur_price라는 딕셔너리에 
# key 인 daeshin 와 value 3000을 집어 넣는다.
# 대신 증권의 현재가는 30000이다 를 추가해 보자.

In [171]:
cur_price['daeshin'] = 30000

In [172]:
cur_price

{'daeshin': 30000}

In [ ]:
# Daum KAKAO 한 주의 현재가가 80000원이라는 것을 딕셔너리에 추가해 보자

In [173]:
cur_price['Daum KAKAO'] = 89000
cur_price

{'daeshin': 30000, 'Daum KAKAO': 89000}

In [174]:
len(cur_price)

2

In [ ]:
#파이썬의 딕셔너리는 리스트와 튜플과 달리 인덱싱을 지원하지 않습니다. 
#딕셔너리는 리스트와 튜플과 달리 데이터를 순서대로 저장하는 것이 아니라 
#키와 값의 쌍이 서로 연결되도록만 저장하기 때문입니다.

In [175]:
cur_price['Daum KAKAO']

89000

In [ ]:
#딕셔너리의 추가는 append()나 insert()를 사용하는 것이 아닌 명시적으로 key값 value값을 넣어줘야함

In [176]:
cur_price['Daum KAKAO']

89000

In [177]:
cur_price['naver'] = 80000

In [178]:
cur_price

{'daeshin': 30000, 'Daum KAKAO': 89000, 'naver': 80000}

In [ ]:
# 딕셔너리 삭제는 del 객체명[key]

In [179]:
del cur_price['daeshin']

In [180]:
cur_price

{'Daum KAKAO': 89000, 'naver': 80000}

In [ ]:
# 딕셔너리로부터 키-값 구하기
# keys 메서드의 반환값은 리스트가 아니며, 리스트로 만들려면 list라는 키워드를 이용해 타입을 변환해야 합니다.
# 객체.keys()
# 리스트로 만들기 위해서 바인딩할 객체 생성후 형변환
# 객체명 = list(cur_price.keys())

In [181]:
cur_price.keys()

dict_keys(['Daum KAKAO', 'naver'])

In [183]:
list(cur_price.keys())

['Daum KAKAO', 'naver']

In [185]:
stock_list = list(cur_price.keys())

In [186]:
stock_list

['Daum KAKAO', 'naver']