In [7]:
daum = 89000
naver= 571000;
s = daum * 100 + naver * 20
s

20320000

In [8]:
s = daum * 0.05 * 89000 + naver * 0.1 * 571000;
s

33000150000.0

In [9]:
f = 50
C = (f - 32)/1.8
C

10.0

In [11]:
print("pizza\n" * 10)

pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza

In [13]:
one = 100000;
one_end = one * 0.7
two = one_end
two_end = two * 0.7
three = two_end
three_end = three * 0.7
three_end

34300.0

In [31]:
s = "Daum KaKao"
s = s[5:] + ' ' + s[:4]
s

'KaKao Daum'

In [35]:
a = "hello world"
a = "hi" + a[5:]
a

'hi world'

In [47]:
x = "abcdef"
x = x[1:] + x[0]
x

'bcdefa'

In [55]:
x = "가나다라마바"
x[1:] + x[0]
x[2:] + x[:2]

'다라마바가나'

In [63]:
t1 = "   hp010-0000-0000"
t2 = t1.strip() # strip()은 공백 삭제
t2

t3 = t2.replace('hp', '')  # replace(a,b) 는 a 를 b로 교체
t3

t4 = t3.split('-') # split()은 괄호안의 조건을 기준으로 문자열을 쪼갬
t4

['010', '0000', '0000']

In [ ]:
#리스트

In [72]:
interest = ["삼성전자", "네이버", "LG전자"]
print(interest)

['삼성전자', '네이버', 'LG전자']

In [66]:
print(interest[0])
print(interest[1])
print(interest[2])

삼성전자
네이버
LG전자

In [71]:
buy_list = ['Naver', 5000]   # 파이썬에서 리스트는 String, int 섞어서 가능하다.
print(buy_list[0])
print(buy_list[1])

Naver
5000

In [73]:
kospi_top10 = ['삼성전자', 'SK하이닉스', '현대차', '한국전력', '아모레퍼시픽', '제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스']
print(kospi_top10)

['삼성전자', 'SK하이닉스', '현대차', '한국전력', '아모레퍼시픽', '제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스']

In [ ]:
# 리스트 인덱싱은 인덱스 잘 볼것. 아직 헷갈림 집가서 다시.

In [75]:
kospi_top5 = kospi_top10[:5]
kospi_top5

['삼성전자', 'SK하이닉스', '현대차', '한국전력', '아모레퍼시픽']

In [78]:
kospi_top10_end = kospi_top10[5:10]
kospi_top10_end

['제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스']